<div class="contenedor">
  <h1>Mis espacios</h1>
  <button class="add">+</button>
<h2>{{finca.Nombre}}</h2>
{{finca.Direccion}}
<i>{{finca.Plan}}</i>
<ul>
<li *ngFor="let sala of finca.Salas" [class.inactivo]="!sala.Activa">
  <label class="switch">
            
  <input *ngIf="sala.Activa" checked type="checkbox" (click)="cambioEstado($event)">
  <input *ngIf="!sala.Activa" type="checkbox" (click)="cambioEstado($event)">

  
  <span class="slider round"></span>
</label>
<span class="nombre">{{sala.Nombre}}</span>
<div class="acciones">
  <fa-icon [icon]="faPen"></fa-icon>
  <fa-icon [icon]="faTrash"></fa-icon>

</div>
</li>
</ul>
</div>